@import "./../../../styles/utils";

.inputRadio {
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 10px;

    &:last-child {
        margin-left: 0;
    }

    &Input {
        display: none;
    }

    &Label {
        user-select: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        transition: all ease 0.3s;
        color: $gray;
    }

    &Input + &Label {
        -webkit-appearance: none;
        border: 2px solid $gray;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        line-height: 40px;
        text-align: center;

        &:hover {
            border: 2px solid $orange;
            color: $orange;
        }
    }

    &Input:checked + &Label {
        border: 2px solid $orange;
        color: $orange;
    }

    &Input:checked + &Label {
        .inputCheckboxCheck {
            display: block;
        }
    }

    &Input:checked + &Label {
        .inputCheckboxCheck {
            opacity: 1;
        }
    }
}
