@import "../../styles/utils";

.commentCount {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 18px;

    & .iconComment {
        width: 23px;
        height: 23px;
        display: inline-block;
        transform: rotateY(-180deg);
        fill: $gray !important;
        vertical-align: -3px;
        padding-left: 5px;
    }

    &Number {
        color: $gray;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
    }
}
