@import "../../../styles/utils";

.userCoupon {
    padding: 17px 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    text-align: left;

    &Label {
        flex: 1;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        font-weight: bold;
    }

    &Trash {
        font-size: 13px;
        flex: 0 0 25px;
    }

    &Settings {
        font-size: 13px;
        flex: 0 0 25px;
    }
}

.couponPopUp {
    width: 279px;
    height: 220px;

    &Header {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.44;
        padding: 14px 0 8px 14px;
        color: $font-color;
    }

    &List {
        padding: 0 0 0 14px;
    }

    &Item {
        margin-left: 30px;
        line-height: 40px;
        border-bottom: solid 2px $grayD8;
        color: $font-color;

        &:last-child {
            border: none;
        }
    }

    &Checkbox {
        margin-left: -30px;
    }
}
