@import "~semantic-ui-css/components/sidebar.min.css";
@import '../../utils';

.sidebar {
    position: relative;
    min-width: 300px;
    width: 300px !important;
    left: 0;
    background-color: $white;
    box-shadow: $shadow-sidebar;
    z-index: $zindex-navbar;

    @include transition();

    .menu .item {
        color: $darkGray;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        text-align: center !important;
    }

    &.sidebar--right {
        overflow-y: visible !important;
    }

    &--right {
        .nav-toggle {
            display: inline-block;
        }

        &.visible {
            left: -300px;
        }
    }

    @media #{$lg-viewport} {
        &--right {
            .nav-toggle {
                display: none;
            }
        }
    }
}
