@import "./../../styles/utils";

.registrationForm {
    .currencyCheckboxes {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 21px;

        &Label {
            flex: 1;
            display: inline-block;
            color: $font-color;
        }

        &Wrap {
            display: inline-block;
        }

        .inputRadio {
            float: right;
        }
    }
}
