@import "../../../styles/utils";

.navigation {
    &Wrap {
        padding: 22px 37px 22px 20px;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: stretch;

        .nav-toggle {
            flex: 0 0 30px;
        }

        .language {
            flex: 0 0 50px;

            .menu .item {
                text-align: center !important;
                padding: 5px !important;
            }

            .flag {
                transform: scale(1.5);
                margin: 0 !important;
            }
        }

        .logo {
            flex: 1;
        }
    }

    &List {
        padding-left: 20px;
    }

    &Item {
        padding: 0 0 20px !important;
        text-align: left;
        vertical-align: top;
        overflow: hidden;

        @include transition();

        &:hover {
            padding: 0 0 20px 10px !important;
        }
    }

    &Link {
        text-align: left;
        margin-left: 10px;
        display: inline-block !important;
        width: calc(100% - 30px);
        color: $font-color;
    }

    &Icon {
        display: inline-block;
        float: left;
        margin: 5px 0 0;
        width: 20px;
        //transform: scale(0.5);
    }
}
