/**
 * Mixins
*/

@mixin make-grid-columns($i: 1, $infix: '') {
    @if $infix != '' {
        $infix: -#{$infix};
    }

    .col#{$infix} {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }

    // Set cols and offsets sizes
    @for $i from 1 through $grid-columns {

        $size: (100% / ($grid-columns / $i));

        .col#{$infix}-#{$i} {
            flex-basis: $size;
            max-width: $size;
        }

        .col-offset#{$infix}-#{$i} {
            margin-left: $size;
        }
    }

    // Extra classes
    @include extraClasses($infix);
}

@mixin extraClasses($infix) {
    @if $infix == '' {
        $infix: '-col';
    }

    .stretch#{$infix} {
        justify-content: stretch;
    }

    .start#{$infix} {
        justify-content: flex-start;
        text-align: start;
    }

    .center#{$infix} {
        justify-content: center;
        text-align: center;
    }

    .end#{$infix} {
        justify-content: flex-end;
        text-align: end;
    }

    .top#{$infix} {
        align-items: flex-start;
    }

    .middle#{$infix} {
        align-items: center;
    }

    .bottom#{$infix} {
        align-items: flex-end;
    }

    .around#{$infix} {
        justify-content: space-around;
    }

    .between#{$infix} {
        justify-content: space-between;
    }

    .column-between#{$infix} {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .first#{$infix} {
        order: -1;
    }

    .last#{$infix} {
        order: 1;
    }

    .hidden#{$infix} {
        display: none !important;
    }

    .visible#{$infix} {
        display: block !important;
    }
}

