@import "../../../styles/utils";

.notifications {
    &Item {
        width: 100%;
        min-height: 362px;
        margin-bottom: 21px;
        border-radius: 8px;
        background-color: $white;
        box-shadow: 0 2px 11px 0 rgba($black, 0.17);
    }

    .notification {
        &Wrap {
            padding: 16px 14px;
        }

        &Text {
            font-size: 14px;
            text-align: center;
            color: $font-color;
        }
    }
}
