@import "../../styles/utils";

.gameLabel {
    background-color: $orange;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0;
    text-align: center;
    border-radius: $base-border-radius;

    &.gameLabelColor {
        background-color: transparent;
        width: 24px;
        height: 24px;
        line-height: 24px;
    }

    &Image {
        transform: scale(0.6);
        width: 28px !important;
        height: 28px !important;
        display: inline-block !important;
    }

    &ColorImage {
        width: 24px !important;
        height: 24px !important;
        border: none;
        outline: none;
    }

    @media #{$lg-viewport} {
        // 1024
        height: 50px;
        width: 50px;
        line-height: 50px;

        .gameLabelImage {
            transform: none;
        }
    }
}
